@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #FDFDFD;
}

::-webkit-scrollbar {
    display: none;
}

.BTNREGISTER {
    background-color: #4BA695;
    color: #FFFFFF;
    border: 1px solid #4BA695;
    border-radius: 14px;
    height: 50px;
    width: 120px;
}

.BTNREGISTER:hover {
    background-color: white;
    color: #4BA695;
}

.BTNLOGIN {
    background-color: #4BA695;
    color: #FFFFFF;
    border-radius: 14px;
    height: 50px;
    width: 120px;
}

.BTNLOGIN:hover {
    background-color: #F26052;
    color: white;
    box-shadow: 0px 7px 22px -6px rgba(33, 123, 244, 0.34);
}

.NavLinks {
    font-size: 14px;
    color: #656464;
    font-weight: 500;
}

.NavLinks:hover {
    color: #2B2B39;
    font-weight: 600;
}

.NavLinks:focus {
    color: #2B2B39;
    font-weight: 600;
}

.NavLinks2 {
    font-size: 18px;
    color: #000000;
    font-weight: 400;
}

.NavLinks2:hover {
    color: #2B2B39;
    font-weight: 600;
}

.NavLinks2:focus {
    color: #2B2B39;
    font-weight: 600;
}

.LandingPageSup {
    background-color: #FFE7E4;
    height: 650px;
    margin-top: 90px !important;
}

.BTNLandingPageSup {
    font-size: 14px;
    background-color: #F2BA52;
    color: #FFFFFF;
    border-radius: 14px;
    height: 50px;
    width: 120px;
}

.BTNLandingPageSup:hover {
    background-color: transparent;
    color: #F26052;
    border: 1px solid #F26052;
    box-shadow: 0px 7px 22px -6px rgba(33, 123, 244, 0.34);
}

.BTNLandingPageSup:focus {
    background: transparent;
    color: #F26052;
    border: 1px solid #F26052;
    box-shadow: 0px 7px 22px -6px rgba(33, 123, 244, 0.34);
}

.IMGLandingPageSup {
    border: 10px solid #F2A9A2;
    border-radius: 50% !important;
    width: 70% !important;
    margin-top: 5% !important;
}

.H2LandingPageSup {
    font-size: 48px;
    color: #F26052;
    line-height: 50px;
}

.SPLandingPageSup {
    font-size: 48px;
    color: #4BA695;
}

.SpanLandingPageSup {
    font-size: 16px;
}

.LandingPageStadist {
    background-color: #F8C15C;
    height: 400px;
}

.TitleLandingPageStadist {
    font-weight: 600;
    font-size: 40px;
    color: #F26052;
    font-family: 'Poppins', sans-serif;
}

.P1LandingPageStadist {
    color: #FFFFFF;
    font-size: 16px;
    width: 55%;
}

.P2LandingPageStadist {
    font-size: 14px;
    color: #FFFFFF;
}

.LandingPageFooter {
    background-color: #4BA695;
    height: 150px;
}

.IMGFooter {
    width: 5%;
    height: 18%;
}

.NavbarPublic {
    position: fixed;
    position: relative;
    background-color: #FFFFFF !important;
    width: 100vw !important;
    top: 0px !important;
}

.dogBanner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/dg29vcpk7/image/upload/v1657748553/Tyzy/pexels-lumn-406014_wzakym.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

}

.textuwu {
    text-shadow: 3px 3px 4px #171717;
}

.no {
    display: none !important;
}

.fade {
    background-color: rgba(35, 35, 35, 0.6) !important;
    backdrop-filter: blur(4px) !important;
}

.carousel-control-next,
.carousel-control-prev {
    display: none;
}

.NavD {
    background-color: #4BA695 !important;
    border-radius: 50px 0 0 50px;
}

.offcanvas-backdrop {
    background-color: rgba(23, 23, 23, 0.62) !important;
    backdrop-filter: blur(100px) !important;
}

.IMGBeneficios {
    border-radius: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.dogBanner2 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/dg29vcpk7/image/upload/v1657748567/Tyzy/pexels-karolina-grabowska-5902804_xkcx8t.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.BTNeditar {
    border: 2px solid #F26052;
    background-color: #F26052;
    color: #FFFFFF;
    justify-content: center;
}

.BTNeditar:hover {
    background-color: #FFFFFF;
    border: 2px dashed #F26052;
    color: #F26052;
    cursor: pointer;
}


/* calendario */

.ant-picker-calendar {
    border-radius: 20px !important;
    background-color: white solid transparent !important;
    width: 100%;
}

.ant-picker-content {
    width: 50%;
    color: purple
}

.ant-picker-content {
    width: 80px;
    border-radius: 20px !important;
}

.ant-picker-content thead {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 900 !important;
}


.ant-picker-date-panel {
    border-radius: 20px;
    background-color: red solid transparent;
}

.ant-picker-body {
    border-radius: 30px;
    background-color: white;
}

.ant-picker-calendar-header {
    justify-content: center !important;
    margin-bottom: 2%;
}

.ant-picker-cell-inner {
    border-top: none !important;
}

.ant-picker-content {
    width: 40vw !important;
    margin: 0 auto 0 auto;
}

.ant-picker-calendar-date-content {
    height: 10px !important;
}

.ant-picker-content th {
    margin-left: 80px !important;
}

.ant-picker-calendar-date-value {
    margin: 0 22px 0 0px !important;
}

.ant-picker-content th {
    font-weight: 800 !important;
}

.Dnone {
    display: none !important;
}